.Cell {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 3px solid black;
}

.Cell:hover {
    background: purple;
}

.Cell.active {
    background: steelblue;
}

.Cell.correct {
    background: lightgreen;
}

.Cell.wrong {
    background: darkred;
}

.Cell.missed {
    background: lightblue;
}