<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../styles/index.css">
        <script src='https://code.jquery.com/jquery-3.1.1.js' integrity='sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=' crossorigin='anonymous'></script>
        <script src='/js/main.js'></script>
    </head>
    <body>
        <div id="wrapper">
            <h1>Survey Form</h1>
            <div class="main-content">
                <p>Tell me about yourself</p>
                <form action="/submit" method="post">
                    <div>
                    Your Name:
                    <input type="textbox" name='name'>
                    </div>
                    <div>
                        Dojo Location:
                        <select id="dojo" name="dojo">
                            <option value="Mountain View">Mountain View</option>
                            <option value="Northwestern Mutual">Northwestern Mutual</option>
                            <option value="Seattle">Seattle</option>
                            <option value="Chicago">Chicago</option>
                        </select>
                    </div>
                    <div>
                        Favorite Language:
                        <select id="dojo" name="language">
                            <option value="Javascript">Javascript</option>
                            <option value="Python">Python</option>
                            <option value="C++">C++</option>
                            <option value="Java">Java</option>
                        </select>
                    </div>
                    <div>
                        Comment (optional):
                        <textarea id="comment" name="comment" rows="4" cols="50"></textarea>
                    </div>
                    <div>
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>